<div class="right-sidebar d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
    <span class="fs-4">
      <% if (locals.posts.length) { %>
          <h3><%= username %>, you have a total of <%= posts.length %> <%if (posts.length === 1) { %> post <% } else { %> posts <% } %></h3>
      <% } else { %>
          <h3>Error obtaining username</h3>
      <% } %>
    </span>
  </a>
  <hr>
  
</div>